nav.dict
{
	width: 100%;
}

ul#dictnav li
{
	display: inline;
	color: black;
	font-size: 1em;
	font-family: Quicksand, sans-serif;
	text-decoration: none;
	padding: 0.25em 1.25em;
}

div.terms
{
	white-space: pre-wrap;
	margin: 4em;
}

table.termTable
{
	width: 100%;
}

td.termSexuality
{
	background-color: gray;
}