nav.dict
{
	width: 100%;
	margin-left: 1em;
}

ul#dictnavalpha li, ul#dictnavcat li
{
	display: inline;
	color: black;
	font-size: 16px;
	font-family: Quicksand, sans-serif;
	text-decoration: none;
	padding: 0.25em 0.25em;
}

table.termTable
{
	white-space: pre-wrap;
	margin-left: 1em;
	width: 90%;
}

/* Terms have a specific width they cannot exceed */
td { width: 14em; }

/* Color terms based off of category */
td.termSex { background-color: rgb( 255, 165, 0 ); }
td.termGender { background-color: 0, 255, 128 }
td.termTrans { background-color: pink; }
td.termMisc { background-color: 102, 102, 255; }