nav.dict
{
	width: 100%;
	margin-left: 1em;
}

ul#dictnavalpha li, ul#dictnavcat li
{
	display: inline;
	color: black;
	font-size: 16px;
	font-family: Quicksand, sans-serif;
	text-decoration: none;
	padding: 0.25em 0.25em;
}

table.termTable
{
	white-space: pre-wrap;
	margin-left: 1em;
	width: 90%;
}

th
{
	text-align: left;
}

/* Terms have a specific width they cannot exceed */
td
{
	width: 6em;
}

/* Color terms based off of category */
td.termSexuality { background-color: rgb( 255, 178, 102 ); } /* Orange */
td.termGender { background-color: rgb( 55, 255, 153 ); } /* Green */
td.termTrans { background-color: rgb( 255, 153, 255 ); } /* Pink */
td.termMisc { background-color: rgb( 102, 102, 255 ); } /* Blue */