ul#tabnav
{
	list-style-type: none;
}

ul#tabnav li
{
	float: left;
}

ul#tabnav li a
{
	display: inline;
}

/* Add list dividers before each element, excluding the first */
ul#tabnav li:before
{
	content: " | ";
	display: inline;
}

ul#tabnav li:first-child:before
{
	content: none;
}

ul#tabnav li a
{
	display: block;
	text-decoration: none;
	color: black;
	font-size: 1em;
	font-family: Quicksand, sans-serif;
	padding: 0.25em 1.25em;
	transition: background-color 1s ease;
}

ul#tabnav li a:hover
{
	background-color: #BDBDBD;
}

ul#tabnav li a:focus
{
	background-color: gray;
}

div.tab
{
	margin-left: 16px;
}