body
{
	background-color: lightblue;
}

p.header
{
	background: white url("images/rainbow.jpg") no-repeat fixed left center;
	color: black;
}

/*
* The nav menu
*/

/* Move the menu slightly to the right */
ul#nav { padding: 0; }

/* Make it a horizontal list */
ul#nav li { display:inline; }

/* Hyperlink Colors and styling*/
ul#nav li a
{
	text-decoration: none;
	color: black;
	transition: color 0.2s ease;
	padding: 2px 20px;
	font-size: 60%;
}
ul#nav li a:hover
{
	color: darkgray;
	transition: color 0.2s ease;
}

/* The actual content of each page */
p.content
{
	color: black;
}