body
{
	margin: 0px;
	width: 100%;
	background-color: lightblue;
	font-size: 100%;
}

nav
{
	margin: 0px;
	width: 100%;
	height: 6.5em;
	background: white url("images/rainbow.png") no-repeat fixed top left;
	background-size: auto, 6.5em;
	font-size: 1.5em;
	font-family: Quicksand, sans-serif;
}

/*
* The nav menu
*/

/* Horizontally center and remove padding from the menu */
ul#nav
{
	padding: 0;
	margin: auto;
}

/* Make nav a horizontal list */
ul#nav li
{
	display:inline;
}

/* Hyperlink Colors and styling*/
ul#nav li a
{
	text-decoration: none;
	color: black;
	transition: color 0.2s ease;
	padding: 2px 20px;
}
ul#nav li a:hover
{
	color: darkgray;
	transition: color 0.2s ease;
}

/* The actual content of each page */
p.content
{
	color: black;
	margin: 15px;
}