p.content
{
	margin-left: 1em;
}

img.map
{
	margin-left: 1em;
	border: 5px solid black;
	border-radius: 20px;
	background-color: lightgray;
}

/* Style the tooltips! */
span
{
	visibility: hidden;

	width: 300px;
	background-color: darkgray;
	color: #fff;

	text-align: center;

	padding: 10px 10px;

	border-width: 4px;
	border-color: black;
	border-radius: 6px;

	/* transition: visibility 1s ease; */
}

area:hover + span, area:focus + span
{
    visibility: visible;
}