h1.map, div.introMap
{
	margin-left: 1em;
}

img.map
{
	margin-left: 1em;
	border: 5px solid black;
	border-radius: 20px;
	background-color: lightgray;
}

/* Style the tooltip! */
span
{
	width: 300px;
	background-color: darkgray;
	color: #fff;

	text-align: center;

	padding: 10px 10px;

	border-width: 4px;
	border-color: black;
	border-radius: 6px;
	z-index: 5;
}

/* If the screen is too small for the map and the labeling */
@media only screen and ( max-width: 1300px )
{
	div.map
	{
		margin-right: 14px;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}
}